
# The address of the license server (e.g.: https://FQN or http://localhost:3000)
SERVER_URL=http://localhost:3000

# The websocket address of the license server.
SERVER_WEBSOCKET=ws://localhost:3000

# The backend to use for authentication. Depending on the backend chosen
# you have to configure the environment variables accordingly (OIDC_*, SAML_*)
# 
# Possible values: `oidc`, `saml`
# Redirect URL is https://your-webui-domain.com/auth/AUTH_BACKEND
AUTH_BACKEND=oidc

# The name of the OIDC identity provider (e.g., 'Google', 'GitHub')
OIDC_NAME=YourIdentityProviderName

# The client ID assigned by the OIDC identity provider
OIDC_CLIENT_ID=YourClientIdHere

# The client secret assigned by the OIDC identity provider
OIDC_CLIENT_SECRET=YourClientSecretHere

# The URL to request OIDC tokens
OIDC_TOKEN_URL=https://example.com/OIDC/token

# The URL to logout the user
OIDC_LOGOUT_URL=https://example.com/OIDC/end_session

# The URL for user authorization to grant access
OIDC_AUTHORIZATION_URL=https://example.com/OIDC/authorize

# The URL to use for token verification
OIDC_INTROSPECT_URL=https://excample.com/OIDC/introspect

# Scopes requested for OIDC (comma-separated values, e.g., 'profile,email')
OIDC_SCOPES=profile,email

DEBUG=false
